# Runtime-generated data
data/

# Runtime-generated wallpaper
images/moon_wallpaper.png

# Development archive (before Git)
configuration/moon_wallpaper.conf

# Privat project notes
GitHub_Plan.odt
Markdown_Cheatsheet.md
project_dependencies.md

# LibreOffice lock files
.~lock*

# scratchboard
parkplatz.sh
